.crystals {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

#crystal-1 {
  margin: 2em;
  
}

#crystal-2 {
  margin: 2em;
}

#crystal-3 {
  margin: 2em;
  
}

#crystal-4 {
  margin: 2em;
}

img {
  height: 12em;
}

.instructions {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  line-height: 2em;
}

body {
  background-color: #6666;
  margin-left: 10em;
  margin-right: 10em;
  
}

.winLoss {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.title {
  background-color: pink;
}

.container {
  width: 80%;
}